[submodule "koala"]
	path = koala
	url = https://github.com/koalalib/koala.git
	branch = src
[submodule "extsrc"]
	path = extsrc
	url = https://github.com/google/googletest.git
[submodule "bpp-core"]
	path = bpp-core
	url = https://github.com/TreeCmp/bpp-core.git
[submodule "bpp-seq"]
	path = bpp-seq
	url = https://github.com/TreeCmp/bpp-seq.git
[submodule "bpp-phyl"]
	path = bpp-phyl
	url = https://github.com/TreeCmp/bpp-phyl.git
